.fontFormats (@fontName) {
  @bucketURL: 'https://firebasestorage.googleapis.com/v0/b/iodotcomnext.appspot.com/o/fonts%2F@{fontName}';
  @bucketToken: '?alt=media&token=9883c6a1-a121-4aa0-99a2-7992bea3c2be';
  src:url('@{bucketURL}.eot@{bucketToken}');
    src:url('@{bucketURL}.eot@{bucketToken}#iefix') format("embedded-opentype"),
    url('@{bucketURL}.woff2@{bucketToken}') format("woff2"),
    url('@{bucketURL}.woff@{bucketToken}') format("woff"),
    url('@{bucketURL}.ttf@{bucketToken}') format("truetype"),
    url('@{bucketURL}.svg@{bucketToken}#@{fontName}') format("svg");
};