{
  "extends": "next",
  "rules": {
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "semi": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
