/* Footer Component */

.footer {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center
}

@media screen and (max-width: 1024px) {
  .footer {
    padding:50px
  }
}

@media screen and (max-width: 780px) {
  .footer {
    display:block
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding:50px 30px
  }
}

.footer__copyright {
  font-weight: 700;
  width: 200px
}

@media screen and (max-width: 780px) {
  .footer__copyright {
    width:auto;
    text-align: center;
    margin-bottom: 25px
  }
}

@media screen and (max-width: 780px) {
  .footer__copyright .bottom,
  .footer__copyright .top {
    display:inline-block
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright .bottom,.footer__copyright .top {
    display:block
  }
}

@media screen and (max-width: 780px) {
  .footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

.footer__links a {
  position: relative;
  display: inline-block;
  color: #13ab02!important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0
}

.footer__links a:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 1024px) {
  .footer__links a {
    margin:0 10px
  }
}

.footer__links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #13ab02;
  content: '';
  opacity: 0;
  transition: height .3s,opacity .3s,-webkit-transform .3s;
  transition: height .3s,opacity .3s,transform .3s;
  transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
  transform: translateY(-5px);
}

.footer__links a:focus:after,
.footer__links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  transform: translateY(0)
}

.footer__links a .text {
  font-size: .9rem;
  display: none;
  letter-spacing: 1px;
}

.footer__links img {
  display: inline;
  height: 22px;
}