@tailwind base;
@layer base {
  ::selection {
    @apply bg-primary-200 dark:bg-primary-600 text-primary-800 dark:text-primary-50;
  }

  html {
    scroll-behavior: smooth;
    min-width: 320px;
  }

  body {
    @apply font-sans font-light overflow-x-hidden;
  }

  #__next {
    @apply flex flex-col min-h-screen;
  }

  a {
    @apply text-primary-500 dark:text-primary-300;
  }
  a:hover {
    @apply text-primary-800 dark:text-primary-400;
  }
  a:focus {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-current focus-visible:ring-offset-2;
  }

  .skip-to-content {
    @apply absolute px-2 py-2 text-gray-800 dark:text-primary-400;
    @apply transform -translate-y-12 left-[15%] focus:top-1 focus:translate-y-1 -top-8;
    @apply motion-safe:transition-transform motion-safe:duration-200;
  }

  #main-content {
    /* scroll-margin-top: .5rem; */
  }

  /* Remove Safari input shadow on mobile */
  textarea,
  input:matches([type='email'],[type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url']) {
    -webkit-appearance: none;
  }

  img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }
  code[class*='language-'],
  pre[class*='language-'] {
    @apply text-gray-800 dark:text-gray-50;
  }

  pre::-webkit-scrollbar {
    @apply hidden;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  table {
    @apply block overflow-y-scroll;
  }
}

@tailwind components;
@layer components {
  a.nav-active,
  a.nav-active:hover,
  a.nav-active:active {
    @apply relative overflow-hidden	text-primary-500 dark:text-primary-300 font-bold;
  }
  
  a.nav-active:hover,
  a.nav-active:active {
    @apply opacity-80;
  }

  a.nav-active::after {
    @apply absolute bg-primary-500 dark:bg-primary-300 bg-opacity-50 rounded-sm;
    @apply content-[''] left-[5px] md:left-[15px] bottom-[-6px];
    @apply w-[calc(100%_-_10px)] md:w-[calc(100%_-_25px)] h-[calc(100%_-_40px)] md:h-[calc(100%_-_32px)];
    @apply motion-safe:transition-all motion-safe:duration-[0.35s] motion-safe:ease-[cubic-bezier(0.25,0.1,0,2.05)]; 
  }

  /* Prose = MDX content */
  .prose {
    @apply max-w-full;
  }

  .prose .anchor {
    @apply absolute invisible ml-[-1em] pr-[0.5em];
    @apply w-[80%] max-w-[700px];
    @apply cursor-pointer;
  }

  .anchor:hover {
    @apply visible no-underline;
  }

  .prose .anchor:after {
    @apply text-gray-300 dark:text-gray-700 content-['#'];
  }

  .prose *:hover > .anchor {
    @apply visible no-underline;
  }

  .prose pre {
    @apply bg-gray-50 border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
  }

  .prose code {
    @apply text-gray-800 dark:text-gray-200 px-1 py-0.5;
    @apply border border-gray-100 dark:border-gray-800 rounded-lg;
    @apply bg-gray-100 dark:bg-gray-900;
  }

  /* Don't apply styles to next/image */
  .prose img {
    @apply m-0;
  }

  /* Used by /about page */
  .prose .photo-of-me {
    @apply float-none sm:float-right sm:ml-8 mb-4 w-full sm:w-1/3 text-center;
  }

  /* span = next/image component */
  .prose .photo-of-me span {
    @apply rounded-lg;
  }

  /* Used by /uses pages */
  .prose .list-item a {
    @apply bg-transparent;
  }
  .prose .list-item a:hover {
    @apply bg-primary-200 text-gray-800;
  }

  /* Used by blog */
  .post-heading {
    @apply w-full max-w-[800px] mx-auto mt-4 px-[20px] md:px-0;
  }

  .post-heading h2,
  .post-heading .post-info {
    @apply max-w-[700px] mx-auto;
  }

  .post-heading .post-info {
    @apply md:px-[20px];
  }

  .post-container {
    @apply max-w-[1000px];
  }

  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6,
  .post-content p {
    @apply w-full max-w-[700px] px-[20px] mx-auto;
  }

  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    @apply mb-6;
  }

  .post-content p {
    @apply mt-[10px] mb-[20px] text-neutral-800 dark:text-neutral-100;
    @apply font-normal text-[20px] font-serif	tracking-[-0.1px] leading-relaxed break-words;
  }

  .post-content p:first-child:not(.error-page) {
    @apply first-letter:text-8xl first-letter:font-bold first-letter:mr-3 first-letter:float-left;
  }

  .post-content figure {
    @apply w-full max-w-[800px] mx-auto relative table mb-4;
  }

  .post-footer {
    @apply w-full max-w-[700px] mx-auto;
  }

  /* Used by MDX Layout */
  .mdx-content a {
    @apply text-gray-800 dark:text-gray-300 bg-primary-100 dark:bg-gray-800;
  }

  .mdx-content a:hover {
    @apply dark:text-gray-900;
    @apply bg-primary-200 dark:bg-primary-100;
  }
  
  /* Timeline, used by /about page */
  .timeline .timeline-item::before {
    @apply bg-gray-600 dark:bg-gray-300 content-[''] h-full;
    @apply absolute left-[16px] top-[20px] w-[2px] z-[-1];
  }

  .timeline h3,
  .timeline h4,
  .timeline p {
    /* Using !important to override prose styles =/ */
    scroll-margin-top: 0 !important;
    margin-top: 0 !important;
    scroll-margin-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  /* Navigation mobile with hamburguer */
  #header {
    @apply z-0 h-full;
  }

  #header.is-active {
    @apply fixed z-10;
  }

  #navigation {
    /* to stop flickering of text in safari */
    -webkit-font-smoothing: antialiased;
  }

  .nav-list {
    @apply invisible md:visible opacity-0 md:opacity-100;
    @apply flex flex-wrap md:flex-nowrap items-center justify-center content-center;
    @apply fixed md:static top-0 left-0 translate-y-[-200%] md:translate-y-0;
    @apply w-full md:w-auto h-full md:h-auto overflow-hidden md:overflow-visible z-20;
    @apply list-none pt-0 md:pt-1 px-2 md:px-0;
    @apply text-center md:text-right text-2xl md:text-base lg:text-lg leading-8 xs:leading-6;
    @apply backdrop-blur-sm md:backdrop-blur-none;
    @apply bg-primary-50/95 md:bg-transparent dark:bg-gray-800/95 dark:md:bg-transparent;
  }

  @media (prefers-reduced-motion: no-preference) {
    .nav-list {
      transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
    }
  }

  .nav-list li {
    @apply w-full md:w-auto my-4 xs:my-8 md:my-0;
  }

  .nav-list.is-active {
    /* Do-something */
    @apply visible opacity-100 translate-y-0;
  }

  .hamburger {
    @apply inline-block md:hidden p-[15px] cursor-pointer;
    @apply text-gray-800 dark:text-gray-50 bg-transparent border-none;
    @apply m-0 overflow-visible z-30;
  }

  .hamburger:hover {
    @apply opacity-70;
  }
  .hamburger.is-active:hover {
    @apply opacity-70;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    @apply bg-primary-500 dark:bg-gray-50;
  }

  .hamburger-box {
    @apply relative inline-block w-[40px] h-[24px];
  }

  .hamburger-inner {
    @apply block top-2/4 mt-[-2px];
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    @apply absolute bg-primary-500 dark:bg-gray-50 w-[40px] h-[4px] rounded-md;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    @apply block content-[''];
  }
  .hamburger-inner::before {
    @apply top-[-10px];
  }
  .hamburger-inner::after {
    @apply bottom-[-10px];
  }

  .hamburger--spin.is-active .hamburger-inner {
    @apply rotate-[225deg];
  }
  
  .hamburger--spin.is-active .hamburger-inner::before {
    @apply top-0 opacity-0;
  }
  
  .hamburger--spin.is-active .hamburger-inner::after {
    @apply bottom-0 rotate-[-90deg];
  }

  @media (prefers-reduced-motion: no-preference) {
    .hamburger {
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    .hamburger--spin .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin.is-active .hamburger-inner {
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .hamburger--spin.is-active .hamburger-inner::before {
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }
    
    .hamburger--spin.is-active .hamburger-inner::after {
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  
  /* Headlines, used by /about page */
  .headlines a:not(.cta) {
    @apply relative inline-block text-primary-500 dark:text-primary-300;
    transition: all .2s ease-in-out;
  }

  .headlines a:not(.cta):before {
    @apply content-[''] block absolute top-[88%] h-[5px] w-[99%] z-0 rounded-sm;
    @apply bg-primary-500 dark:bg-primary-300;
    transition: all .15s ease-in-out;
  }

  .headlines a:not(.cta):hover:before {
    @apply opacity-0 top-[80%];
  }

  .headlines a:not(.cta):hover {
    @apply text-primary-800 dark:text-primary-400;
  }
  
  .headlines a:not(.cta) span {
    @apply relative;
  }

  /* Doodle my self, used by /index page */
  #mydoodleanimated svg path {
    stroke-width: 4;
    animation: draw 4s linear 0s 1 normal forwards;
  }

  #mydoodleanimated #mydoodleface {
    stroke-dasharray: 2810;
    stroke-dashoffset: 2810;
  }

  #mydoodleanimated #mydoodleface-draw {
    @apply opacity-0;
    animation: show .9s linear 4.3s 1 normal forwards;
  }

  #mydoodleanimated #eyes {
    @apply opacity-0 left-[42%] w-[22%] h-full;
    animation: show .1s linear 5s 1 normal forwards;
  }
  
  #mydoodleanimated #eye {
    @apply top-[38.5%] w-[22.4%] h-[4.7%];
  }
  
  #mydoodleanimated #eye:last-child {
    @apply left-[78%];
  }

  #mydoodleanimated #iris {
    @apply w-[62.4%] h-[62.4%];
    transform-origin: 50%;
    animation: blink 5s infinite;
  }

  /* Animations */
  @keyframes draw {
    from {
      stroke-dashoffset: 2810;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes show {
    from {
      @apply opacity-0;
    }
    to {
      @apply opacity-100;
    }
  }

  @keyframes blink {
    0%, 100% {
      transform: scale(1, .05);
    }
    5%, 95% {
      transform: scale(1, 1);
    }
  }
}

@tailwind utilities;
@layer utilities {
  /* Theorically email protection */
  .email-protection {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
}