@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #e5bc72;
  color: #292525;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

@layer base {
  a {
    @apply text-primary-800;
  }
  a:hover {
    @apply text-primary-300;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  overflow-y: scroll;
}

.prose pre {
  @apply bg-gray-50 border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
